@model IEnumerable<MCMS.Infrastructure.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeType)
            </th>
            <th>
                HOD
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollegeType)
                </td>
                <td>
                    @(item.Hodid.HasValue ? "Yes" : "No")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.DepartmentId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-sm btn-danger">Delete</a>
                    @if (item.IsDeleted)
                    {
                        <a asp-action="Restore" asp-route-id="@item.DepartmentId" class="btn btn-sm btn-success">Restore</a>
                    }
                    <a class="btn btn-sm btn-primary" asp-action="AssignHOD" asp-route-id="@item.DepartmentId">Assign HOD</a>
                </td>
            </tr>
        }
    </tbody>
</table>